#view {
	padding: 10rem;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	overflow-y: auto;
}

#info {
	display: flex;
	gap: 3rem;
}

#image {
	flex-shrink: 0;
	height: 15rem;
	width: 15rem;
	background-color: var(--color-background-dark-2);
	border-radius: 15rem;
}

#recordingsList {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#recordingsList > a {
	display: contents;
}