.player {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	padding: 1rem;
}

.player .timeline {
	height: 2rem;
	background-color: var(--color-background-dark-2);
}

.player .timeline .progress {
	height: 100%;
	background-color: var(--color-primary);
}

.player .controls {
	display: flex;
	gap: .5rem;
	justify-content: center;
}

.player .controls button {
	color: var(--color-text);
	background-color: transparent;
	border: none;
}