#breadcrumbs {
	padding: 2rem 3rem;
	color: var(--color-background);
	background-color: var(--color-text);
}

#breadcrumbs ul {
	margin: 0;
	padding: 0;
	display: flex;
	gap: 1rem;
	font-weight: 300;
	list-style: none;
}

#breadcrumbs ul li:last-of-type {
	font-weight: 700;
}