.button {
	padding: 1rem 2rem;
	color: var(--color-text);
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	background-color: transparent;
	border: .1rem solid var(--color-text);
	border-radius: var(--border-radius);
}