.fileInput {
	display: inline-block;
	padding: 1rem 2rem;
	background-color: #f5f5f5;
	border: .1rem solid var(--color-text);
	border-radius: var(--border-radius);
	cursor: pointer;
}

.fileInput input[type="file"] {
	display: none;
}