#app {
	height: 100%;
	width: 100%;
	display: flex;
}

#main {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: var(--color-background-dark);
}

#content {
	flex: 1;
	background-color: var(--color-background-dark);
	box-shadow: 3rem 0rem 3rem rgba(0, 0, 0, .05) inset;
	overflow-y: auto;
}