.paragraph {
	display: flex;
	gap: 3rem;
}

.paragraph .time {
	flex-shrink: 0;
	width: 6rem;
	color: var(--color-text-faded);
}

.paragraph .speaker {
	flex-shrink: 0;
	width: 12rem;
	color: var(--color-text-light);
}

.paragraph .text {
	margin: 0;
	padding: 1.4rem;
	flex: 1;
}